html {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 16px;

}
body{
  position: relative;

}

.SmallLogo {
  position: fixed;
  z-index: 3;
}
.SmallLogo img {
  height: 6rem;
}
/* Large Window formating********************************/

.LargeWindow {

  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("https://bn1305files.storage.live.com/y4mT147d-La0AjDPBjlJ2NEwAo_zxMldMaM4t0qmNR3I6SzJgnbGI0j1FRsjruggLI9YJ-eHs_M4m9pwhRH70sehya74UfR_YqDRZe-WOcsIBHnBlQaVZRTzadY_I1ZDmH03bvM2rg8msV7ivAMCoAsGz24G1qJUQzqHnbjS-vT7HGklgLaF4wPJnztX88xb6TA_iWsYnS5QZTMnQa8D-WwSw/DSC_0542.JPG?psid=1&width=1315&height=880");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  width: 100%;
  z-index: 1
}

.ImgLargeWindow{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin:auto;
  margin-top: 100px;
  max-width: 100%;
}

.ImgLargeWindow img{
  align-items: center;
  height: 25rem;
  margin:auto;
  max-width: 100%;
}

.ImgLargeWindow p {
  text-align: center;
  color: white;
  font-size: 3rem;
  padding: 2rem;
}
/*
.ContentLargeWindow{
  position: fixed;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  font-size: 1.25rem;

  max-width: 60%;
  line-height: 1.2;
}
*/
/* Main Body Formating */


.MainBody{

  background-color: #5F5F5F;
  padding-bottom: 100px;
  max-width: 100%;
}
.PicutureContainers {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: #5F5F5F;
  max-width: 100%;
  z-index: 2;

}
.MainPicImg {
  position: relative;
  display: inline-flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  padding-top: 2rem;
  padding-bottom: 2rem;

}
.MainPicImg img{

  max-width: 50%;

}
.MainBodyTextBoxMenu ,
.MainBodyTextBox,
.MainBodyTextBoxStory{
  position: absolute;
  display: inline-flex;
  flex-flow: column;
  justify-content: space-around;
  display: inline-block;
  text-align: center;
  background-color: orange;
  font-size: 4rem;
  padding: 20px;
}
.MainBodyTextBoxMenu,
.MainBodyTextBoxStory{
  text-decoration: none;
}
.MainBodyTextBox h3,
.MainBodyTextBoxLink h3 {
  font-size: 2rem;
  color: #003A70;
}
.MainBodyTextBox p,
.MainBodyTextBoxLink  p{
  font-size: 1rem;
  color: #003A70;
}



/* Bottom of main body*******************************************************/
.footer {

  text-align: center;
  font-size: 0.75em;
  bottom:0;
  background-color: #003A70;
  width: 100%;
  position: relative;
  z-index: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer h3{
  font-size: 2rem;
  color: white;
  padding: 10px;
}
.footer p{
  font-size: 1rem;
  color:white;
  padding: 10px;
}











































/**/
