html {
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-size: 16px;

}
body{
  position: relative;

}

/* Large Window formating********************************/

.LargeWindow {

  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("https://bn1305files.storage.live.com/y4mT147d-La0AjDPBjlJ2NEwAo_zxMldMaM4t0qmNR3I6SzJgnbGI0j1FRsjruggLI9YJ-eHs_M4m9pwhRH70sehya74UfR_YqDRZe-WOcsIBHnBlQaVZRTzadY_I1ZDmH03bvM2rg8msV7ivAMCoAsGz24G1qJUQzqHnbjS-vT7HGklgLaF4wPJnztX88xb6TA_iWsYnS5QZTMnQa8D-WwSw/DSC_0542.JPG?psid=1&width=1315&height=880");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1000px;
  width: 100%;
  z-index: 1
}

.ImgLargeWindow{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin:auto;
  margin-top: 100px;
  max-width: 100%;
}

.ImgLargeWindow img{
  align-items: center;
  height: 25rem;
  margin:auto;
  max-width: 100%;
}

.ImgLargeWindow p {
  text-align: center;
  color: #5F5F5F;
  font-size: 3rem;
  padding: 2rem;
}

/* Main Body Formating */


.MainBody{

  background-color: #5F5F5F;
  padding-bottom: 100px;
  width: 100%;
}
.PicutureContainers {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: #5F5F5F;
  width: 100%;
  z-index: 2;

}
.Section {
  position: relative;
  display: inline-flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom-style: solid;
  border-color: white;
  border-width: thick;
}

.Section h3 {
  font-size: 30px;
  font-weight: bold;
  color:White;
  padding: 40px;
}

.Section p {
  font-size: 15px;
  padding: 40px;
  color:White;
}

.ImgContainer {
  position: relative;
  display: flex;
  flex-flow: row;
}
.ImgContainer img {
  height: 300px;
  margin: auto;
  padding: 20px;
}
/* Recongnition Secton */

.Recongnition {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-size: 0.75em;
  bottom:0;
  background-color: #5F5F5F;
  width: 50%;
  position: relative;
  z-index: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 200px;

}

.Recongnition h3 {
  font-size: 30px;
  font-weight: bold;
  color:White;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.Recongnition p {
  font-size: 15px;
  color:White;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}
/* Bottom of main body*******************************************************/
.footer {

  text-align: center;
  vertical-align: middle;
  font-size: 0.75em;
  bottom:0;
  background-color: #002d57;
  width: 100%;
  position: relative;
  z-index: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer h3{
  font-size: 2rem;
  color: white;
  padding: 10px;
}
.footer p{
  font-size: 1rem;
  color:white;
  padding: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #3f729b;
  color: white;
}






































/**/
