html {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-size: 16px;

}

.SmallLogo {
  position: fixed;
  z-index: 3;
}
.SmallLogo img {
  height: 6rem;
}
/* Large Window formating*/

.LargeWindow {

  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: navy;
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  width: 100%;
  margin: 0;
  padding: 0;

  z-index: 1
}
.ImgLargeWindow img{

  height: 25rem;
  padding: 2rem;
  max-width: 100%;
}

.ImgLargeWindow{
  position: fixed;

  align-items: center;
  margin-top: 400px;
  max-width: 100%;

}

.ContentLargeWindow{
  position: fixed;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  font-size: 1.25rem;

  max-width: 60%;
  line-height: 1.2;
}
/* Main Body Formating */


.MainBody{

  background-color: #5F5F5F;
  bottom: 500px;
  width: 100%;
}
.PicutureContainers {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: #5F5F5F;
  width: 100%;
  z-index: 2;

}
.MainPicImg {
  position: relative;
  display: inline-flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  padding-top: 2rem;
  padding-bottom: 2rem;

}
.MainPicImg img{

  max-width: 50%;

}
.MainBodyTextBox {
  position: absolute;
  display: inline-flex;
  flex-flow: column;
  justify-content: space-around;
  display: inline-block;
  text-align: center;
  background-color: orange;
  font-size: 4rem;
  padding: 20px;
}
.MainBodyTextBox h3{
  font-size: 2rem;
}
.MainBodyTextBox p{
  font-size: 1rem;
}
/* Bottom of main body*/
footer {
  position: fixed;
  width: 100%;
  z-index: 4;
  color: white;
  background-color: black;

}













































/**/
